extends layout

block content
	//- section.pure-g.h80-4
	//- 	img(src="/images/catevan2.png",width="115px",height="99px").block-auto
	//- section.pure-g.h80-4
	//- 	article.pure-u-2-3
	//- 		p "Perfection is Achieved Not When There Is Nothing More to Add, But When There Is Nothing Left to Take Away"
	//- 		p -- Antoine de Saint-Exupery
	section.splash-container.bg-color-main1.font-white
		article.splash
			h3 I'M A
			h1 FRONT-END ENGINEER
			h3 But Not Limited to It
			hr
			p "Perfection is Achieved Not When There Is Nothing More to Add, But When There Is Nothing Left to Take Away" 
			p - Antoine de Saint-Exupery -
	section.content-wrapper 
		div.four-panels-animated.preload
			section.grid-unit.top-left
				div.swing-panel
					span.desc First part
				div.sphere
				span.icon.ion-android-person
				span.label Playground
			section.grid-unit.top-right
				div.swing-panel
					span.desc Second part
				div.sphere
				span.icon.ion-code
				span.label Projects
			section.grid-unit.bottom-left
				div.swing-panel
					span.desc Third part
				div.sphere
				span.icon.ion-ios-paw
				span.label About Me
			section.grid-unit.bottom-right
				div.swing-panel
					span.desc Forth part
				div.sphere
				span.icon.ion-information-circled
				span.label About Site
//- 		script jQuery(function(){

//-   $(window).load(function(){
  
//-   $('.four-panels-animated').removeClass('preload');
  
//-   });

//- });