extends layout

block content
	section.splash-container.bg-color-main1.font-white
		article.splash
			h3 This Is A
			h1 PLAYGROUND
			h3 Code For Fun
			section.h80-1
			section
				// div this toy train is inspired by Mr Alien, http://codepen.io/mr_alien/
				div.toy-train
					div.engine
						div.window
							div.engine-main
								div.smokes
									span
						div.engine-body
							div.wheels
								div.big-wheel
								div.normal-wheel
					div.locomotive
						div.trash
						div.wheels
							div.normal-wheel
							div.normal-wheel
					div.tracks
						span
						span

				
	section.content-wrapper 
		article
			h1 Sorry... Playground is Empty
			