@import '../helpers/_variables';

$header-height-margin: 3em;
$header-title-line-height: 3em;




.main-header{
	z-index: $z-header;
	margin-bottom: $header-height-margin;
	i{
		font-size: 1.1em;
		padding-right: 5px;
	}
	.home-menu{
		background: $greyblue;
		padding: 0 $window-pad-lr;
	}
	.pure-menu-heading{
		color: $white;
		letter-spacing: $title-spacing;
		padding: 0;
	}
	.pure-menu-link{
		&:hover{
			background-color: #607D8B;
		}
	}
	.pure-menu-item a{
		padding: 0 $list-item-hori;
		color: $white;
		line-height: $header-title-line-height;
	}
	.header-left{
		float: left;
		line-height: $header-title-line-height;
	}
	.header-right{
		float: right;
	}

	// menu button and it's cotent
	.toggle-menu{
		z-index: $z-headerMobileMenu;
		@media screen and (min-width: $sm){
			&{
				display: none;
			}
		}
	}
	.nav-main-menu{
		display: flex;
		@media screen and (max-width: ($sm - 1px)){
			&{
				//display: none;
				// visibility: none;
				height:0;
				overflow: hidden;
				transition: height 0.5s;
			}
			& .pure-menu-item{
				display: none;
			}
		}
	}
	#header-menu-toggle:checked{
		&~.toggle-button-wrapper .toggle-menu{
			display: block;
			span {
		        border-color: transparent;
		        transition: border-color 0.3s ease;
		        &:before {
		            animation-name: topLineCross;
		            animation-duration: 0.6s;
		            animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		            animation-fill-mode: forwards;
		        }
		        &:after {
		            animation-name: bottomLineCross;
		            animation-duration: 0.6s;
		            animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		            animation-fill-mode: forwards;
		        }
		    }
		}
		&~.nav-main-menu{
			position: fixed;
		    top: 0;
		    height: 100%;
		    width: 100%;
		    left: 0;
		    background: $greyblue-dark;
		    text-align: center;
		    justify-content: center;
		    align-items: center;
		    .pure-menu-item{
		    	display:list-item;
		    }
		}
	}
}
